.modal {
	background-color: rgba(44, 44, 44, 0.959);
	position: fixed;
	top: 2em;
	bottom: 2em;
	left: 2em;
	right: 2em;
	text-align: center;
	>button {
		background-color: #e09320;
		padding: .3em 5em;
		border: none;
		color: white;
		font-size: 22px;
		position: absolute;	
		bottom: 2em;
		left: 0;
		right: 0;
		margin: 0 auto;
		cursor: pointer;
	}
}